* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

table {
    border-collapse: collapse;
}

th, td, #block {
    width: 30px;
    height: 30px;
}

td {
    border: solid gray 1px;
    padding: 0;
}

td:first-child {
    border: none;
    text-align: center;
    font-weight: bold;
}

#block {
    position: absolute;
    background-color: red;
    border-top: solid blue 5px;
}

form {
    margin: 10px;
}