div.container, aside, article {
    padding: 20px;
    border: 1px solid #999;
}

div.container {
    background-color: #eee;
    overflow: auto;
    min-width: 600px;
}

aside, article {
    background-color: white;
}

img {
    border: 1px solid #999;
    margin: 5px;
}

aside#group {
    float: left;
    width: 200px;
}

aside#group img {
    float: left;
}

aside#group h3 {
    float: right;
    margin: 0;
}

aside#person {
    float: right;
    width: 120px;
}

article#intro {
    margin: 0 180px 0 260px;
}